@import url(../../styles/global.css);

article {
    position: relative;
    display: block;
    box-sizing: border-box;
    justify-content: left;
    height: calc(100% - 40px);
    min-height: 100vh;
    max-width: 768px;
    width: 100%;
    background: white;
    padding: 40px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.1s linear;
    text-align: left;
    overflow: hidden;
}

.border {
    border: thin solid #00000011;
    box-shadow: 0 0 0 1px vrgba(var(--grey-900), 0.1);
}

.raised {
    border: thin solid #00000011;
    box-shadow: 0 0 0 1px vrgba(var(--grey-900), 0.1);
    box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
}

.markdown {
    scroll-behavior: smooth;
}