# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/
/dist/

/dist/
/node_modules/
/storybook/
/tests/__image_snapshots__/__diff_output__/
/scss_to_js/scss_variables.*
.idea
.vscode
.DS_Store
yarn-error.log
/src/scss/utilities.scss
/static/gitlab/
.cypress_cache

