* {
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular", "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch;
    margin: 16px 0;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

button, input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    box-sizing: border-box;
}

sub {
    font-size: 0.8em;
    bottom: -0.2em;
}

sup {
    font-size: 0.8em;
    top: -0.2em;
}

b, strong {
    font-weight: 700;
}

hr {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, .1);
    clear: both;
    margin-bottom: 1.25rem;
}