:root {
    --main-color: #1da1f2;
    --background-color: #d7d7db;

    --tooltip-text-color: white;
    --tooltip-background-color: black;
    --tooltip-background-color: rgb(26, 32, 44);
    --tooltip-margin: 30px;
    --tooltip-arrow-size: 6px;
}