@import url(../../styles/global.css);

.accordion {
    display: flex;
}

.accordion:hover {
    background-color: #fafafa;
}

.accordian-title {
    display: flex;
    align-items: center;
    padding: 0rem;
    margin-top: 16px;
    border-collapse: collapse;
    box-sizing: border-box;
    /* background-color: aliceblue; */
    align-items: flex-start;
    /* border-bottom: thin dashed; */
    cursor: pointer;
    /* text-decoration: underline; */
    margin-top: -1px;
    justify-content: space-between;

}

.accordian-content {
    display: flex;
    /* padding: 0.7rem; */
    /* margin: 16px 0px; */
    border-collapse: collapse;
    box-sizing: border-box;
    /* background-color: aliceblue; */
    align-items: flex-start;
    /* border-bottom: thin solid #ddd; */
    overflow: hidden;
    /* transition: max-height 0.6s ease, opacity 0.6s ease; */
    max-height: 0;
    opacity: 0;
    transition: transform 100ms ease-in-out 0s, -webkit-transform 100ms ease-in-out 0s;

}

.open {
    /* border: thin dashed black; */
    margin-left: auto;
    align-items: flex-end;
    padding: 0px 16px;
    /* transition: transform 2s ease-in-out 0s; */
    opacity: 1;
    /* Adjust to the expected max height */
    /* transition: transform 100ms ease-in-out 0s, -webkit-transform 100ms ease-in-out 0s;
    transition-duration: 4s; */

}

svg {
    display: inline-block;
    vertical-align: center;
}