@import url(../../styles/global.css);

.accordion {
    display: flex;
}

.accordian-title {
    display: flex;
    padding: 0.5rem;
    border-collapse: collapse;
    box-sizing: border-box;
    /* background-color: aliceblue; */
    align-items: flex-start;
    /* border-bottom: thin dashed; */
    cursor: pointer;
    /* text-decoration: underline; */
    margin-top: -1px;

}

.accordian-content {
    display: flex;
    padding: 0.5rem;
    border-collapse: collapse;
    box-sizing: border-box;
    /* background-color: aliceblue; */
    align-items: flex-start;
    /* border-bottom: thin solid #ddd; */
    
}

.open {
    /* border: thin dashed black; */
    margin-left: auto;
    align-items: flex-end;
    padding: 0px 16px;
}

svg {
    display: inline-block;
    vertical-align: center;
}