@import url(../../styles/global.css);

.accordion {
    display: flex;
    padding: 0.5rem;
    border: .1px dashed black;
    border-collapse: collapse;
    box-sizing: border-box;
    background-color: aliceblue;
}

.accordian-header {
    cursor: pointer;
    text-decoration: underline;
}