@import url(../electrons/root.module.css);
@import url(../electrons/animations.module.css);
@import url(../electrons/colors.module.css);

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
}

.accordion {
    display: flex;
}



@keyframes gradient {
    0% {
        background-color: var(--bs-blue);
    }

    100% {
        background-color: var(--bs-red);
    }
}

.accordianTitle {
    composes: accordion;
    /* composes: animatedGradientTextForeground; */
    padding: 0.5rem;
    border-collapse: collapse;
    box-sizing: border-box;
    /* background-color: aliceblue; */
    align-items: flex-start;
    /* border-bottom: thin dashed; */
    cursor: pointer;
    /* text-decoration: underline; */
    margin-top: -1px;

}

.accordianContent {
    composes: accordion;
    padding: 0.5rem;
    border-collapse: collapse;
    box-sizing: border-box;
    /* background-color: aliceblue; */
    align-items: flex-start;
    /* border-bottom: thin solid #ddd; */

}

.open {
    /* border: thin dashed black; */
    margin-left: auto;
    align-items: flex-end;
    padding: 0px 16px;
    transition: transform 100ms ease-in-out 0s;
}

svg {
    display: inline-block;
    vertical-align: center;
}