:root {
    --padding: 0.05em;
    --start-color: #007cf0;
    --end-color: #00dfd8;
}

.animatedGradientTextForeground {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: var(--padding);
    padding-right: var(--padding);
    background-image: linear-gradient(90deg, var(--start-color), var(--end-color));
    position: relative;
    z-index: 1;
}

@keyframes changeBox {
    0% {
        background-color: red;
    }

    99.99% {
        background-color: red;
    }

    100% {
        background-color: cornflowerblue;
    }
}

@keyframes color-change {
    0% {
        /* color: red; */
        background: linear-gradient(90deg, var(--bs-blue), var(--bs-indigo));
    }

    50% {
        /* color: blue; */
        background: linear-gradient(90deg, var(--bs-purple), var(--bs-pink));
    }

    100% {
        color: red;
        background: linear-gradient(90deg, var(--bs-orange), var(--bs-yellow));
    }
}

.animatedGradientTextForeground {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: var(--padding);
    padding-right: var(--padding);
    background-image: linear-gradient(90deg, var(--start-color), var(--end-color));
    position: relative;
    z-index: 1;
    animation: color-change 1s infinite;

}

@keyframes ac4h-disclaimer-enter-d19t22n9 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes animation-64e8c8 {
    from {
        opacity: 0.09049773755656108;
    }

    to {
        opacity: 0.03619909502262444;
    }
}


@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes spinner {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}