.rclCard {
    /* border: .1px dashed black; */
    border: 0.1px solid #ddd;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.rclCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.rclPaper {
    background: #fff;
    box-shadow:
        /* The top layer shadow */
        0 1px 1px rgba(0, 0, 0, 0.15),
        /* The second layer */
        0 10px 0 -5px #eee,
        /* The second layer shadow */
        0 10px 1px -4px rgba(0, 0, 0, 0.15),
        /* The third layer */
        0 20px 0 -10px #eee,
        /* The third layer shadow */
        0 20px 1px -9px rgba(0, 0, 0, 0.15);
    /* Padding for demo purposes */
    padding: 30px;
}

:is(.dark .notification-item-container a) {
    --tw-text-opacity: 1;
    color: rgb(10 132 255/var(--tw-text-opacity))
}

.\!card {
    --tw-bg-opacity: 1;
    --tw-shadow: 0px 1px 3px #0000000a, 0px 2px 8px #00000014;
    --tw-shadow-colored: 0px 1px 3px var(--tw-shadow-color), 0px 2px 8px var(--tw-shadow-color);
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-radius: 13px;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    overflow: hidden
}

:is(.dark .\!card) {
    --tw-bg-opacity: 1;
    --tw-shadow: 0px 1px 3px #0000003d, 0px 2px 8px #00000029;
    --tw-shadow-colored: 0px 1px 3px var(--tw-shadow-color), 0px 2px 8px var(--tw-shadow-color);
    background-color: rgb(48 48 48/var(--tw-bg-opacity));
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.card {
    --tw-bg-opacity: 1;
    --tw-shadow: 0px 1px 3px #0000000a, 0px 2px 8px #00000014;
    --tw-shadow-colored: 0px 1px 3px var(--tw-shadow-color), 0px 2px 8px var(--tw-shadow-color);
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-radius: 13px;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    overflow: hidden
}

:is(.dark .card) {
    --tw-bg-opacity: 1;
    --tw-shadow: 0px 1px 3px #0000003d, 0px 2px 8px #00000029;
    --tw-shadow-colored: 0px 1px 3px var(--tw-shadow-color), 0px 2px 8px var(--tw-shadow-color);
    background-color: rgb(48 48 48/var(--tw-bg-opacity));
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}