* {
    box-sizing: border-box;
    border-style: solid;
    border-color: #e5e7eb;
}

/* html {} */

body {
    font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular", "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch;
    margin: 16px 0;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



/* ================================================================================ */
html,
body,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
img,
pre,
form,
fieldset {
    margin: 0;
    padding: 0;
}

img,
fieldset {
    border: 0;
}

body,
html {
    height: 100%;
    width: 100%;
}

/* body {
    background-color: var(--ds-surface, #fff);
    color: var(--ds-text, #172B4D);
    font: var(--ds-font-body, normal 400 14px/1.42857142857143 -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif);
    -ms-overflow-style: -ms-autohiding-scrollbar;
    text-decoration-skip-ink: auto;
}

p,
ul,
ol,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
form,
table {
    margin: var(--ds-space-150, 12px) 0 0 0;
}

a {
    color: var(--ds-link, #0052CC);
    -webkit-text-decoration: none;
    text-decoration: none;
}

a:hover {
    color: var(--ds-link, #0065FF);
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

a:active {
    color: var(--ds-link-pressed, #0747A6);
}

a:focus-visible {
    outline: var(--ds-border-width-outline, 2px) solid var(--ds-border-focused, #2684FF);
    outline-offset: var(--ds-space-025, 2px);
}





ul,
ol,
dl {
    padding-left: var(--ds-space-500, 40px);
}

dd,
dd+dt,
li+li {
    margin-top: var(--ds-space-050, 4px);
}

ul ul:not(:first-child),
ol ul:not(:first-child),
ul ol:not(:first-child),
ol ol:not(:first-child) {
    margin-top: var(--ds-space-050, 4px);
}

p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
blockquote:first-child,
pre:first-child,
form:first-child,
table:first-child {
    margin-top: 0;
}

blockquote,
q {
    color: inherit;
}

blockquote {
    border: none;
    padding-left: var(--ds-space-500, 40px);
}

[dir='rtl'] blockquote {
    padding-left: 0;
    padding-right: var(--ds-space-500, 40px);
}

blockquote::before,
q::before {
    content: '\201C';
}

blockquote::after,
q::after {
    content: '\201D';
}

blockquote::before {
    float: left;
    margin-left: -1em;
    text-align: right;
    width: 1em;
}

[dir='rtl'] blockquote::before {
    float: right;
    margin-right: -1em;
    text-align: left;
}

blockquote>:last-child {
    display: inline-block;
}

small {
    font-size: 0.7857142857142857em;
    font-style: inherit;
    line-height: 1.4545454545454546;
    color: var(--ds-text-subtlest, var(--ds-text-subtlest, #6B778C));
    font-weight: var(--ds-font-weight-bold, 700);
    margin-top: 16px;
    font-weight: normal;
}

code,
kbd {
    font-family: var(--ds-font-family-code, 'SFMono-Medium', 'SF Mono', 'Segoe UI Mono', 'Roboto Mono', 'Ubuntu Mono', Menlo, Consolas, Courier, monospace);
}

var,
address,
dfn,
cite {
    font-style: italic;
}

abbr {
    border-bottom: 1px var(--ds-border, #ccc) dotted;
    cursor: help;
}

@supports (color-scheme: dark) and (color-scheme: light) {
    [data-color-mode="light"] {
        -webkit-print-color-scheme: light;
        color-scheme: light;
    }

    [data-color-mode="dark"] {
        -webkit-print-color-scheme: dark;
        color-scheme: dark;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead,
tbody,
tfoot {
    border-bottom: 2px solid var(--ds-border, #DFE1E6);
}

td,
th {
    border: none;
    padding: var(--ds-space-050, 4px) var(--ds-space-100, 8px);
    text-align: left;
}

th {
    vertical-align: top;
}

td:first-child,
th:first-child {
    padding-left: 0;
}

td:last-child,
th:last-child {
    padding-right: 0;
}

caption {
    font: var(--ds-font-heading-medium, 500 1.4285714285714286em/1.2 -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif);
    letter-spacing: -0.008em;
    color: var(--ds-text, #172B4D);
    margin-top: 28px;
    margin-bottom: var(--ds-space-100, 8px);
    text-align: left;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}

@-moz-document url-prefix() {
    img {
        font-size: 0;
    }

    img:-moz-broken {
        font-size: inherit;
    }
}

button {
    font-family: inherit;
}

.assistive {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

* {
    box-sizing: inherit;
}

body,
html {
    box-sizing: border-box;
    scroll-padding-top: calc(56px + var(--ds-space-200, 16px));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
}

:first-child:is(p,
    ul,
    ol,
    dl,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    blockquote,
    pre,
    form,
    table),
style:first-child+:is(p,
    ul,
    ol,
    dl,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    blockquote,
    pre,
    form,
    table) {
    margin-top: 0;
}


#layout_left-sidebar {
    border-right: 1px solid var(--ds-border, #EBECF0);
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: grid;
}

#layout_left-sidebar~#main footer {
    text-align: left;
}

#main {
    min-height: calc(100vh - var(--topNavigationHeight));
}

@font-face {
    font-family: 'Charlie Display';
    src: url('/assets/CharlieDisplay-Regular.woff2') format('woff2'), url('/assets/CharlieDisplay-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Charlie Display';
    src: url('/assets/CharlieDisplay-Semibold.woff2') format('woff2'), url('/assets/CharlieDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@media not all and (min-width: 64rem) {
    :root {
        --topNavigationHeight: 3rem !important;
    }
} */

/* ================================================================================ */