html[data-theme~="spacing:spacing"] {
    --ds-space-0: 0rem;
    --ds-space-025: 0.125rem;
    --ds-space-050: 0.25rem;
    --ds-space-075: 0.375rem;
    --ds-space-100: 0.5rem;
    --ds-space-150: 0.75rem;
    --ds-space-200: 1rem;
    --ds-space-250: 1.25rem;
    --ds-space-300: 1.5rem;
    --ds-space-400: 2rem;
    --ds-space-500: 2.5rem;
    --ds-space-600: 3rem;
    --ds-space-800: 4rem;
    --ds-space-1000: 5rem;
    --ds-space-negative-025: -0.125rem;
    --ds-space-negative-050: -0.25rem;
    --ds-space-negative-075: -0.375rem;
    --ds-space-negative-100: -0.5rem;
    --ds-space-negative-150: -0.75rem;
    --ds-space-negative-200: -1rem;
    --ds-space-negative-250: -1.25rem;
    --ds-space-negative-300: -1.5rem;
    --ds-space-negative-400: -2rem;

    --linaria-theme_spacing-macro16px: 16px;
    --linaria-theme_spacing-macro24px: 24px;
    --linaria-theme_spacing-macro32px: 32px;
    --linaria-theme_spacing-macro40px: 40px;
    --linaria-theme_spacing-macro48px: 48px;
    --linaria-theme_spacing-macro64px: 64px;
    --linaria-theme_spacing-macro80px: 80px;
    --linaria-theme_spacing-micro2px: 2px;
    --linaria-theme_spacing-micro4px: 4px;
    --linaria-theme_spacing-micro8px: 8px;
    --linaria-theme_spacing-micro12px: 12px;
    --linaria-theme_spacing-micro16px: 16px;
    --linaria-theme_spacing-micro24px: 24px;
    --linaria-theme_spacing-micro32px: 32px;
}