:root {
    --typography-root-font-size: 0.875em;
    --typography-heading1-font-size: 2rem;
    --typography-heading1-font-weight: 700;
    --typography-heading1-line-height: 2.5714285714285716rem;
    --typography-heading2-font-size: 1.5714285714285714rem;
    --typography-heading2-font-weight: 700;
    --typography-heading2-line-height: 2rem;
    --typography-heading3-font-size: 1.2142857142857142rem;
    --typography-heading3-font-weight: 700;
    --typography-heading3-line-height: 1.7142857142857142rem;
    --typography-heading4-font-size: 1rem;
    --typography-heading4-font-weight: 700;
    --typography-heading4-line-height: 1.4285714285714286rem;
    --typography-body-font-size: 1rem;
    --typography-body-font-weight: 500;
    --typography-body-line-height: 1.4285714285714286rem;
    --typography-heading5-font-size: 0.8571428571428571rem;
    --typography-heading5-font-weight: 700;
    --typography-heading5-line-height: 1.1428571428571428rem;
    --typography-captions-font-size: 0.8571428571428571rem;
    --typography-captions-font-weight: 500;
    --typography-captions-line-height: 1.1428571428571428rem;
    --typography-micro-font-size: 0.7142857142857143rem;
    --typography-micro-font-weight: 700;
    --typography-micro-letter-spacing: 0.03571428571428571rem;
    --typography-micro-line-height: 1.1428571428571428rem;
    --typography-micro-text-transform: uppercase;
}

html[data-theme~="typography:typography-minor3"] {
    --ds-UNSAFE-textTransformUppercase: uppercase;
    --ds-font-heading-xxlarge: normal 700 2rem/2.25rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
        system-ui, "Helvetica Neue", sans-serif;
    --ds-font-heading-xlarge: normal 700 1.75rem/2rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
        system-ui, "Helvetica Neue", sans-serif;
    --ds-font-heading-large: normal 700 1.5rem/1.75rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
        system-ui, "Helvetica Neue", sans-serif;
    --ds-font-heading-medium: normal 700 1.25rem/1.5rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Ubuntu, system-ui, "Helvetica Neue", sans-serif;
    --ds-font-heading-small: normal 700 1rem/1.25rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
        system-ui, "Helvetica Neue", sans-serif;
    --ds-font-heading-xsmall: normal 700 0.875rem/1rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
        system-ui, "Helvetica Neue", sans-serif;
    --ds-font-heading-xxsmall: normal 700 0.75rem/1rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
        system-ui, "Helvetica Neue", sans-serif;
    --ds-font-body-large: normal 400 1rem/1.5rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
        system-ui, "Helvetica Neue", sans-serif;
    --ds-font-body: normal 400 0.875rem/1.25rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
        system-ui, "Helvetica Neue", sans-serif;
    --ds-font-body-small: normal 400 0.75rem/1rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
        system-ui, "Helvetica Neue", sans-serif;
    --ds-font-body-UNSAFE_small: normal 400 0.75rem/1rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Ubuntu, system-ui, "Helvetica Neue", sans-serif;
    --ds-font-ui: normal 500 0.875rem/1 ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, system-ui,
        "Helvetica Neue", sans-serif;
    --ds-font-ui-small: normal 400 0.75rem/1 ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
        system-ui, "Helvetica Neue", sans-serif;
    --ds-font-code: normal 400 0.875em/1 ui-monospace, Menlo, "Segoe UI Mono", "Ubuntu Mono", monospace;
    --ds-font-letterSpacing-0: 0;
    --ds-font-letterSpacing-100: 0;
    --ds-font-letterSpacing-200: 0;
    --ds-font-letterSpacing-300: 0;
    --ds-font-letterSpacing-400: 0;
    --ds-font-family-body: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, system-ui, "Helvetica Neue", sans-serif;
    --ds-font-family-code: ui-monospace, Menlo, "Segoe UI Mono", "Ubuntu Mono", monospace;
    --ds-font-family-heading: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, system-ui, "Helvetica Neue", sans-serif;
    --ds-font-family-monospace: ui-monospace, Menlo, "Segoe UI Mono", "Ubuntu Mono", monospace;
    --ds-font-family-sans: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, system-ui, "Helvetica Neue", sans-serif;
    --ds-font-family-brand-body: "Charlie Text", ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, system-ui, "Helvetica Neue", sans-serif;
    --ds-font-family-brand-heading: "Charlie Display", ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, system-ui, "Helvetica Neue", sans-serif;
    --ds-font-weight-bold: 700;
    --ds-font-weight-medium: 500;
    --ds-font-weight-regular: 400;
    --ds-font-weight-semibold: 600;

    @media not all and (min-width: 64rem) {
        --ds-font-heading-xxlarge: normal 700 1.75rem/2rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
            system-ui, "Helvetica Neue", sans-serif;
        --ds-font-heading-xlarge: normal 700 1.5rem/1.75rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Ubuntu, system-ui, "Helvetica Neue", sans-serif;
        --ds-font-heading-large: normal 700 1.25rem/1.5rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
            system-ui, "Helvetica Neue", sans-serif;
        --ds-font-heading-medium: normal 700 1rem/1.25rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
            system-ui, "Helvetica Neue", sans-serif;
    }
}