:root {
    --typography-root-font-size: 0.875em;
    --typography-heading1-font-size: 2rem;
    --typography-heading1-font-weight: 700;
    --typography-heading1-line-height: 2.5714285714285716rem;
    --typography-heading2-font-size: 1.5714285714285714rem;
    --typography-heading2-font-weight: 700;
    --typography-heading2-line-height: 2rem;
    --typography-heading3-font-size: 1.2142857142857142rem;
    --typography-heading3-font-weight: 700;
    --typography-heading3-line-height: 1.7142857142857142rem;
    --typography-heading4-font-size: 1rem;
    --typography-heading4-font-weight: 700;
    --typography-heading4-line-height: 1.4285714285714286rem;
    --typography-body-font-size: 1rem;
    --typography-body-font-weight: 500;
    --typography-body-line-height: 1.4285714285714286rem;
    --typography-heading5-font-size: 0.8571428571428571rem;
    --typography-heading5-font-weight: 700;
    --typography-heading5-line-height: 1.1428571428571428rem;
    --typography-captions-font-size: 0.8571428571428571rem;
    --typography-captions-font-weight: 500;
    --typography-captions-line-height: 1.1428571428571428rem;
    --typography-micro-font-size: 0.7142857142857143rem;
    --typography-micro-font-weight: 700;
    --typography-micro-letter-spacing: 0.03571428571428571rem;
    --typography-micro-line-height: 1.1428571428571428rem;
    --typography-micro-text-transform: uppercase;
}

html[data-theme~="typography:typography-minor3"] {
    --ds-UNSAFE-textTransformUppercase: uppercase;
    --ds-font-heading-xxlarge: normal 700 2rem/2.25rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
        system-ui, "Helvetica Neue", sans-serif;
    --ds-font-heading-xlarge: normal 700 1.75rem/2rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
        system-ui, "Helvetica Neue", sans-serif;
    --ds-font-heading-large: normal 700 1.5rem/1.75rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
        system-ui, "Helvetica Neue", sans-serif;
    --ds-font-heading-medium: normal 700 1.25rem/1.5rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Ubuntu, system-ui, "Helvetica Neue", sans-serif;
    --ds-font-heading-small: normal 700 1rem/1.25rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
        system-ui, "Helvetica Neue", sans-serif;
    --ds-font-heading-xsmall: normal 700 0.875rem/1rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
        system-ui, "Helvetica Neue", sans-serif;
    --ds-font-heading-xxsmall: normal 700 0.75rem/1rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
        system-ui, "Helvetica Neue", sans-serif;
    --ds-font-body-large: normal 400 1rem/1.5rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
        system-ui, "Helvetica Neue", sans-serif;
    --ds-font-body: normal 400 0.875rem/1.25rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
        system-ui, "Helvetica Neue", sans-serif;
    --ds-font-body-small: normal 400 0.75rem/1rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
        system-ui, "Helvetica Neue", sans-serif;
    --ds-font-body-UNSAFE_small: normal 400 0.75rem/1rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Ubuntu, system-ui, "Helvetica Neue", sans-serif;
    --ds-font-ui: normal 500 0.875rem/1 ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, system-ui,
        "Helvetica Neue", sans-serif;
    --ds-font-ui-small: normal 400 0.75rem/1 ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
        system-ui, "Helvetica Neue", sans-serif;
    --ds-font-code: normal 400 0.875em/1 ui-monospace, Menlo, "Segoe UI Mono", "Ubuntu Mono", monospace;
    --ds-font-letterSpacing-0: 0;
    --ds-font-letterSpacing-100: 0;
    --ds-font-letterSpacing-200: 0;
    --ds-font-letterSpacing-300: 0;
    --ds-font-letterSpacing-400: 0;
    --ds-font-family-body: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, system-ui, "Helvetica Neue", sans-serif;
    --ds-font-family-code: ui-monospace, Menlo, "Segoe UI Mono", "Ubuntu Mono", monospace;
    --ds-font-family-heading: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, system-ui, "Helvetica Neue", sans-serif;
    --ds-font-family-monospace: ui-monospace, Menlo, "Segoe UI Mono", "Ubuntu Mono", monospace;
    --ds-font-family-sans: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, system-ui, "Helvetica Neue", sans-serif;
    --ds-font-family-brand-body: "Charlie Text", ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, system-ui, "Helvetica Neue", sans-serif;
    --ds-font-family-brand-heading: "Charlie Display", ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, system-ui, "Helvetica Neue", sans-serif;
    --ds-font-weight-bold: 700;
    --ds-font-weight-medium: 500;
    --ds-font-weight-regular: 400;
    --ds-font-weight-semibold: 600;

    @media not all and (min-width: 64rem) {
        --ds-font-heading-xxlarge: normal 700 1.75rem/2rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
            system-ui, "Helvetica Neue", sans-serif;
        --ds-font-heading-xlarge: normal 700 1.5rem/1.75rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Ubuntu, system-ui, "Helvetica Neue", sans-serif;
        --ds-font-heading-large: normal 700 1.25rem/1.5rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
            system-ui, "Helvetica Neue", sans-serif;
        --ds-font-heading-medium: normal 700 1rem/1.25rem ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
            system-ui, "Helvetica Neue", sans-serif;
    }


    --linaria-theme_typography-font-family-cereal-font-family: 'Circular',
    -apple-system,
    'BlinkMacSystemFont',
    'Roboto',
    'Helvetica Neue',
    sans-serif;
    --linaria-theme_typography-special-display-medium_40_44-font-size: 2.5rem;
    --linaria-theme_typography-special-display-medium_40_44-line-height: 2.75rem;
    --linaria-theme_typography-special-display-medium_40_44-letter-spacing: normal;
    --linaria-theme_typography-special-display-medium_40_44-font-weight: 600;
    --linaria-theme_typography-special-display-medium_48_54-font-size: 3rem;
    --linaria-theme_typography-special-display-medium_48_54-line-height: 3.375rem;
    --linaria-theme_typography-special-display-medium_48_54-letter-spacing: normal;
    --linaria-theme_typography-special-display-medium_48_54-font-weight: 600;
    --linaria-theme_typography-special-display-medium_60_68-font-size: 3.75rem;
    --linaria-theme_typography-special-display-medium_60_68-line-height: 4.25rem;
    --linaria-theme_typography-special-display-medium_60_68-letter-spacing: normal;
    --linaria-theme_typography-special-display-medium_60_68-font-weight: 600;
    --linaria-theme_typography-special-display-medium_72_74-font-size: 4.5rem;
    --linaria-theme_typography-special-display-medium_72_74-line-height: 4.625rem;
    --linaria-theme_typography-special-display-medium_72_74-letter-spacing: normal;
    --linaria-theme_typography-special-display-medium_72_74-font-weight: 600;
    --linaria-theme_typography-title-extra-small18px-font-size: 1.125rem;
    --linaria-theme_typography-title-extra-small18px-line-height: 1.375rem;
    --linaria-theme_typography-title-extra-small18px-letter-spacing: normal;
    --linaria-theme_typography-title-small22px-font-size: 1.375rem;
    --linaria-theme_typography-title-small22px-line-height: 1.625rem;
    --linaria-theme_typography-title-small22px-letter-spacing: normal;
    --linaria-theme_typography-title-medium26px-font-size: 1.625rem;
    --linaria-theme_typography-title-medium26px-line-height: 1.875rem;
    --linaria-theme_typography-title-medium26px-letter-spacing: normal;
    --linaria-theme_typography-title-large32px-font-size: 2rem;
    --linaria-theme_typography-title-large32px-line-height: 2.25rem;
    --linaria-theme_typography-title-large32px-letter-spacing: normal;
    --linaria-theme_typography-base-extra-small10px-font-size: 0.625rem;
    --linaria-theme_typography-base-extra-small10px-line-height: 0.75rem;
    --linaria-theme_typography-base-extra-small10px-letter-spacing: normal;
    --linaria-theme_typography-base-small12px-font-size: 0.75rem;
    --linaria-theme_typography-base-small12px-line-height: 1rem;
    --linaria-theme_typography-base-small12px-letter-spacing: normal;
    --linaria-theme_typography-base-medium14px-font-size: 0.875rem;
    --linaria-theme_typography-base-medium14px-line-height: 1.125rem;
    --linaria-theme_typography-base-medium14px-letter-spacing: normal;
    --linaria-theme_typography-base-medium-tall14px-font-size: 0.875rem;
    --linaria-theme_typography-base-medium-tall14px-line-height: 1.25rem;
    --linaria-theme_typography-base-medium-tall14px-letter-spacing: normal;
    --linaria-theme_typography-base-large16px-font-size: 1rem;
    --linaria-theme_typography-base-large16px-line-height: 1.25rem;
    --linaria-theme_typography-base-large16px-letter-spacing: normal;
    --linaria-theme_typography-base-large-tall16px-font-size: 1rem;
    --linaria-theme_typography-base-large-tall16px-line-height: 1.5rem;
    --linaria-theme_typography-base-large-tall16px-letter-spacing: normal;
    --linaria-theme_typography-base-extra-large18px-font-size: 1.125rem;
    --linaria-theme_typography-base-extra-large18px-line-height: 1.5rem;
    --linaria-theme_typography-base-extra-large18px-letter-spacing: normal;
    --linaria-theme_typography-base-extra-large-tall18px-font-size: 1.125rem;
    --linaria-theme_typography-base-extra-large-tall18px-line-height: 1.75rem;
    --linaria-theme_typography-base-extra-large-tall18px-letter-spacing: normal;
    --linaria-theme_typography-caption12px-font-size: 0.75rem;
    --linaria-theme_typography-caption12px-line-height: 1rem;
    --linaria-theme_typography-caption12px-letter-spacing: normal;
    --linaria-theme_typography-weight-book400: 400;
    --linaria-theme_typography-weight-medium600: 600;
    --linaria-theme_typography-weight-bold800: 800;
    --linaria-theme_typography-tracking-normal-letter-spacing: normal;
    --linaria-theme_typography-tracking-wide-letter-spacing: 0.04em;
}