@import url(../../styles/global.css);

.alert {
    border: .1px dashed black;
}

.alert-close {
    padding: 2px;
    cursor: pointer;
}

.alert-close:hover {
    padding: 2px;
    border-radius: 50%;
    background-color: #00000038;
}