.rcl-close, .rcl-close-rounded {
    padding: 2px;
    cursor: pointer;
   
}

.rcl-close:hover {
    padding: 2px;
    border-radius: 50%;
    background-color: rgb(0 0 0 / 10%)
}

.rcl-close-rounded:hover {
    padding: 2px;
    background-color: rgb(0 0 0 / 10%)
}