.container {
    display: flex;
    align-items: center;
}

.border {
    border-bottom: thin solid #ddd;
    width: 100%;
}

.content {
    padding: 0 10px 0 10px;
}

hr {
    margin: 0;
    padding: 0;
    color: #ddd;
}

hr {
    display: block;
    height: 1px;
    padding: 0;
    height: 1px;
    outline: none;
    border: none;
    margin: 0 auto;
    display: block;
    width: 100%;
    border-top: 1px solid #ccc;

    /* align-items: center;
    color: #2e054e;
    display: flex;
    font-family: futura-demi;
    font-size: 18px;
    justify-content: space-between;
    line-height: 24px;
    margin-bottom: 24px;
    position: relative;
    text-align: center; */

}

/* border-bottom: 1px dashed #cacaca;
margin-bottom: 10px;
padding-bottom: 10px; */