.container {
    display: flex;
    align-items: center;
}

.border {
    border-bottom: thin solid #ddd;
    width: 100%;
}

.content {
    padding: 0 10px 0 10px;
}

hr {
    margin: 0;
    padding: 0;
    color: #ddd;
}

hr {
    display: block;
    height: 1px;
    padding: 0;
    height: 1px;
    outline: none;
    border: none;
    margin: 0 auto;
    display: block;
    width: 100%;
    border-top: 1px solid #ccc;

}